@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    padding: 5% 7% 5% 5%;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 33.33%;
    height: 500px;
    background-color: hsl(31, 77%, 52%);
}

.center {
    padding: 5% 7% 5% 5%;
    width: 33.33%;
    height: 500px;
    background-color: hsl(184, 100%, 22%);
}

.right {
    padding: 5% 7% 5% 5%;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 33.33%;
    height: 500px;
    background-color: hsl(179, 100%, 13%);
}

.title {
    margin-top: 30px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

.text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 15px;
}

.content {
    height: 120px;
}

.left-btn {
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: white;
    color: hsl(31, 77%, 52%);
    border-radius: 50px 50px 50px 50px;
}

.center-btn {
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: white;
    color: hsl(184, 100%, 22%);
    border-radius: 50px 50px 50px 50px;
}

.right-btn {
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: white;
    color: hsl(179, 100%, 13%);
    border-radius: 50px 50px 50px 50px;
}

